{
  "presets": ["react-app"],
  "plugins": [
    [
      "i18next-extract",
      {
        "locales": ["en", "de"],
        "outputPath": "public/locales/{{locale}}/{{ns}}.json",
        "discardOldKeys": true,
        "defaultValue": "__NOT_YET_TRANSLATED__"
      }
    ]
  ]
}
